<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
</head>
    <body>
        <form th:fragment="upload-post" sec:authorize="hasRole('ROLE_ADMIN')"
              enctype="multipart/form-data"
              th:action="@{'/imgUpload'}"  th:method="post">
            <p><input type="text" name="text"></p>
            <p><input type="file" name="file" /></p>
            <p><input type="submit" value="Upload" /></p>
        </form>

        <form th:fragment="delete-post" sec:authorize="hasRole('ROLE_ADMIN')"
              th:action="@{'/remove/' + ${image.id}}" th:method="delete">
            <input type="submit" value="delete post"/>
        </form>
    </body>
</html>