
.header {
    font-size : 20px;}
  body{

      text-align: center;
      background-color: #cad2d5;
      background-image: url("/img/main1.jpg");
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;

      color: white;
  }

  #page {
      width: 99%;
      position: absolute;
      bottom: 0;
  }

  a {
    text-decoration: none;
  }

  @media screen and (min-width: 757px) {
   body{
         font-size: 3vw;
         color: #f8f8ff; // off white
         text-align: center;
         background-image: url("/img/landing.jpg");
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
      }
  }

