
*::-webkit-scrollbar{
    display: none;

}

.body {
    margin: 0;
    padding: 0;
}

.postBody {
    grid-area: postBody;
    background: #FCC;
    overflow: scroll;
    overflow-x: hidden;
}

#grid {

    display: grid;

    grid-template-columns:
        [col-a] 20% [col-b] 80%;
    grid-template-rows:
        [head] 8vh [content] 90vh [footer] 2vh;

    grid-template-areas:
        "header header"
        "events postBody"
        "footer footer";

}

#header {
    grid-area: header;
    text-align: center;
    background: blue;
    width: 100%;
}
#events {
    grid-area: events;
    background: yellow;
}

img{
    height: 500px;
    width: auto;
}

table {
    border-collapse: collapse;
}

th{
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: center;
    }

.thumbnail{
    max-width: 90%;
    max-height: 90%;
    }


.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 5px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
