<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Family Blog</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css"/>
</head>
<body>

        <div class="postBody">
            <div th:each="image : ${images}"class="card">
                <td><a th:href="@{/image/(image_id=${image.id})}" class="imgLink">
                    <img id="postImage" th:src="@{/image/(image_id=${image.id})}"}/></a></td>
                <div class="body">
                    <p th:text="${image.body}" />
                </div>
            </div>
        </div>
</body>
</html>
