<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Family Blog</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <!--/* header*/-->
    <div th:replace="fragments/header"></div>

    <!--/* Upload post. Administrator access only */-->
    <div th:replace="fragments/adminFunctions :: 'upload-post' "></div>

    <!--/* Loop through each post*/-->
    <div th:replace="fragments/card"></div>

    <!--/* footer */-->
    <div th:replace="fragments/footer"></div>

</body>
</html>





