<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.springframework.org/schema/data/jaxb" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/default">
<head><link th:href="@{/css/landing.css}" rel="stylesheet" type="text/css"/></head>
<body>
    <div id="page" layout:fragment="content">
        <div id="container">
            <header>Bostic Family Blog</header>
            <p>Welcome to our piece of the internet.<br>
                You should have received a user login from one of us "Adults".<br>
            </p>

            <a sec:authorize="isAnonymous()" th:href="@{/login}"> login</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/home}">Home</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/logout}">logout</a>

        </div>
    </div>

</body>
</html>