<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">

<div id="page" layout:fragment="content">
    <div class="container">
        <div class="mt-5">
            <div class="text-center hero my-5">
                <img class="mb-3 app-logo" src="/logo.png" alt="Spring logo" width="120"/>
                <h1 class="mb-4">Spring MVC Security Sample Project</h1>
                <p class="lead">
                    Landing page for family app
                </p>
            </div>

            <hr/>
        </div>

    </div>
</div>

</html>